@model IEnumerable<WebApplication12.Models.ToDo>
@{
    ViewBag.Title = "Trash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $(".draggable").draggable({
            revert: "invalid"
        });

        $('.column').droppable({
            accept: '.draggable',
            drop: function (event, ui) {
                var dropped = ui.draggable;
                var droppedOn = $(this);
                $(dropped).detach().css({ top: 0, left: 0 }).appendTo(droppedOn);

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    url: "",
                    beforeSend: function (request) {
                        request.setRequestHeader("RequestVerificationToken", $('#RequestVerificationToken').val());
                    },
                    data: JSON.stringify({ cardId: dropped[0].id, columnId: droppedOn[0].id }),
                });
            }
        });
    });
</script>

<div class="container">
    <h3 style="text-align:center">Çöp Kutusu</h3>
    <div class="row">
    @foreach (var column in Model.Where(x => x.IsActive == 1))
    {
        <div class="col-sm-6 col-md-4">

            <div class="thumbnail">
                <img src="~/assets/Adsız.png" alt="...">
                <div class="caption">
                    <h3>@column.Title</h3>
                    <p>@column.Description</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
          
        </div>
    }
    </div>
</div>
        