@model IEnumerable<WebApplication12.Models.ToDo>
@{
    ViewBag.Title = "Trash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 style="text-align:center">Çöp Kutusu</h3>
    <div class="row">
    @foreach (var column in Model.Where(x => x.IsActive == 1))
    {
        <div class="col-sm-6 col-md-4">

            <div class="thumbnail">
                <img src="~/assets/Adsız.png" alt="...">
                <div class="caption">
                    <h3>@column.Title</h3>
                    <p>@column.Description</p>
                    <p><a href="/Do/Delete/@column.Id" class="btn btn-primary" role="button">Button</a> 
                        <a href="/Do/Delete/@column.Id" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
          
        </div>
    }
    </div>
</div>
        