<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToDo</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <nav>
            <div class="nav-wrapper">
                <h1 class="brand-logo center">ToDo </h1>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="/Account/Login">
                            Giriş Yap
                        </a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="/Account/Register">
                            Kayıt Ol
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    <script>
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "firebase/app";
        import { getAnalytics } from "firebase/analytics";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyDb73g-3WNHE60XGXjZIn_Q4UXdoqg6_Xc",
            authDomain: "deneme-12123.firebaseapp.com",
            projectId: "deneme-12123",
            storageBucket: "deneme-12123.appspot.com",
            messagingSenderId: "205702941893",
            appId: "1:205702941893:web:bc5699a9bce414897c74ac",
            measurementId: "G-NMST777018"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>
</body>
</html>